rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /webhooks/{webhookId} {
      allow read: if false;
      allow write: if false;
    }
    
    match /user_access/{email} {
      allow read: if request.auth != null && request.auth.token.email == email;
      allow write: if false;
    }
  }
}